@CHARSET "utf-8";

.error{
	font-weight:bold;
	color:#FF0000;
}

.login{
	font-style:italic;
}

form label {
	dislay:inline-block;
	width:150px;
	font-weight:bold;
}

td.label {
	font-weight:bold;
}

img.profile{
	vertical-align:top;
}